// Original: https://codeberg.org/TGRush/dotfiles/src/branch/catppuccin/rofi/themes/catppuccin-mocha.rasi

* {
    rosewater: #f5e0dc;
    flamingo: #f2cdcd;
    pink: #f5c2e7;
    mauve: #cba6f7;
    red: #f38ba8;
    maroon: #eba0ac;
    peach: #fab387;
    yellow: #f9e2af;
    green: #a6e3a1;
    teal: #94e2d5;
    sky: #89dceb;
    sapphire: #74c7ec;
    blue: #89b4fa;
    lavender: #b4befe;
    text: #cdd6f4;
    subtext1: #bac2de;
    subtext0: #a6adc8;
    overlay2: #9399b2;
    overlay1: #7f849c;
    overlay0: #6c7086;
    surface2: #585b70;
    surface1: #45475a;
    surface0: #313244;
    base: #1e1e2e;
    mantle: #181825;
    crust: #11111b;

    bg-col: #1e1e2ec0;
    selected-col: #b4befe1a;

    font: "JetBrainsMono Nerd Font Propo 14";
    background-color: transparent;
    text-color: @text;
}

window {
    width: 800px;
    border: 2px;
    padding: 18px;
    border-color: @lavender;
    border-radius: 16px;
    background-color: @bg-col;
}

message {
    padding: 14px 18px;
    border: 2px;
}

mainbox {
    spacing: 12px;
}

inputbar {
    children: [textbox-arrow, entry, prompt];
    border: 2px;
    border-color: @surface2;
    border-radius: 16px;
    padding: 14px 18px;
    spacing: 14px;
}

textbox-arrow {
    expand: false;
    content: "❯";
    text-color: @blue;
}

prompt {
    text-color: @blue;
}

listview {
    columns: 1;
    lines: 8;
}

element {
    padding: 10px 12px;
    border-radius: 12px;
    spacing: 10px;
}

element-icon {
    size: 25px;
}

element selected {
    background-color: @selected-col;
}

element-text selected {
    text-color: @blue;
}
