@import "mocha.css";

* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-weight: 600;
  font-size: 15px;
  min-height: 0;
}

window#waybar {
  /* background: alpha(@base, 0.7); */
  background: transparent;
  color: @text;
}

.module {
  background-color: alpha(@surface0, 0.7);
  border: 2px solid @surface2;
  border-radius: 10px;
  padding: 0.2rem 1rem;
  margin: 6px 0.4rem 0 0.4rem;
  transition: border 0.2s ease-out;
  /* box-shadow: 10px 5px 5px #1a1a1aee; */
}

.module:first-child {
  margin-left: 6px;
}

.module:last-child {
  margin-right: 6px;
}

.module:hover {
  border: 2px solid @mauve;
}

#workspaces {
  padding: 1px 2px;
}

#workspaces button {
  color: @overlay2;
  border-radius: 0.4rem;
  padding: 0.2rem 0.8rem;
  margin: 2px 2px;
  transition: all 0.2s ease-out;
  box-shadow: none;
  text-shadow: none;
  background: none;
  border: none;
}

#workspaces button:first-child {
  margin-left: 1px;
}

#workspaces button:last-child {
  margin-right: 1px;
}

#workspaces button.visible:not(.active) {
  color: @subtext1;
  background-color: @surface2;
}

#workspaces button.active {
  color: @crust;
  background-color: @subtext1;
}

#workspaces button:hover {
  color: @sapphire;
  background-color: @surface2;
}

#workspaces button.active:hover {
  color: @crust;
  background-color: @text;
}

#battery,
#clock {
  border-radius: 10px 0 0 10px;
  margin-right: 0;
  margin-left: 0;
}

#pulseaudio,
#clock.date {
  border-radius: 0 10px 10px 0;
  margin-left: 0;
}

#battery.plugged {
  color: @teal;
}

#battery.charging {
  color: @lavender;
}

#battery.warning {
  color: @yellow;
}

#battery.critical {
  color: @red;
}

#pulseaudio {
  color: @maroon;
}

#clock {
  color: @blue;
}

#clock.date {
  color: @mauve;
}

#mpris {
  color: @overlay2;
  transition: color 0.2s ease-out;
}

#mpris.playing {
  color: @green;
}

#custom-gamepad-battery {
  color: @sky;
}

#tray menu {
  background: @base;
  color: @text;
}
